.myI-0 {
    color: #000;
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: right;
}

.myI-1 {
    font-size: 0.8em;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    height: 38px;
    width: 300px;
    padding: 5px 10px;
    display: block;
    margin: 9px 10px;
}

.myI-1-info {
    width: 300px;
}

.myI-1-info div {
    margin-bottom: 20px;
}

.myI-1-f {
    font-size: 0.8em;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    height: 38px;
    width: 300px;
    padding: 5px 10px;
    display: block;
    margin: 9px 10px;
    background-color: #e4e4e4;
    pointer-events: none;
}

.myI-1:focus {
    background-color: rgba(239, 108, 0, 0.2);
    border: 1px solid white;
    outline-style: none;
}

.myInfo>h5 {
    padding-bottom: 30px;
}

.myInfo {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.inputForm {
    height: 38px;
    width: 300px;
}
.emailcert{
	position:relative;
	width:200px;
	left:150px;
	top:-38px;
	margin-right:0px;
	font-size:0.8em;
	color:red;
	
}


/* 추가정보 입력 */

.btn-address {
    cursor: pointer;
    background-color: #c1c1c1;
    text-align: center;
}

.myI-0-address {
    color: #000;
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: right;
    margin-bottom: 110px;
}

.myI-1-add {
    font-size: 0.8em;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    height: 38px;
    width: 140px;
    padding: 5px 10px;
    display: block;
    margin: 9px 10px;
    float: left;
}

.addMoreInfo {
    padding: 50px 0px;
    text-align: center;
}

.addMoreInfo>p {
    margin-bottom: 50px;
}

.btn-withStudium {
    font-size: 13px;
    background-color: orangered;
    margin-top: 50px;
    margin-right: 250px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 9px;
    float: left;
}

.btn-withStudium:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease 0s;
    border: 1px solid orangered;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}
.inputAddress{
	width:320px
}
.input-icon {
    position: relative;
    font-size: 18px !important;
    color: #ccc;
    right: -45%;
    top: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}


/* 체크박스 */

.inputInteresting {
    width: 300px;
    text-align: left;
    margin-left: 9px;
}

.inputInteresting p {
    font-size: 0.9em;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: black !important;
    border-bottom: 1px solid;
}

.check-label {
    font-size: 0.8em;
    margin-right: 10px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
    outline: none;
    position: relative;
}

.option-input+label {
    margin-right: 10px;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: orangered;
}

input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: orangered;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}


/* 관심list */

.tag_cloud_widget {
    width: 300px;
}

.tag_cloud_widget ul li {
    list-style: none;
    float: left;
    /* display: inline-block; */
}

.tag_cloud_widget ul li a {
    /* display: inline-block; */
    float: left;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    background: #fff;
    padding: 4px 5px;
    margin-bottom: 8px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}


/* line 841, E:/169 Dingo Restaurant/169 Dingo Restaurant/169_Dingo_Restautent_html/sass/_blog.scss */

.tag_cloud_widget ul li a:hover {
    background: orangered !important;
    color: #fff !important;
}

.myInfo table {
    margin: 0 auto;
}

.myInfo table tr {
    margin-top: 20px;
}

.myInfo table th {
    color: #000;
    padding: 0 10px;
    text-align: right;
}

.myInfo table td {
    padding: 0 10px;
    text-align: left;
    background-color: #d8d8d8;
    border: 1px solid rgb(68, 67, 67);
    width: 300px;
    padding: 5px 10px;
}

.myInfo>h5 {
    padding-bottom: 30px;
}

.myInfo {
    padding: 50px 0px;
    text-align: center;
}

.author>.author-info>div>h3 {
    margin-right: 50px;
}

.btn-change {
    border: 1px solid orangered !important;
}

.btn-changeInfo {
    font-size: 13px;
    background-color: orangered;
    margin-right: 250px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 50px;
}

.btn-changeInfo:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease 0s;
    border: 1px solid orangered;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.btn-change:hover {
    background: #fff;
    color: #cf1d16 !important;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.myName .testimonial .author img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.myName {
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid black;
}

#myP-index {
    margin-top: 20px;
    position: absolute;
    top: 80px;
    left: -360px;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    width: 250px;
    height: 400px;
    border: 1px solid black;
    border-radius: 3px;
}

#myP-index nav {
    padding-left: 100px;
}


.nav-link {
    color: black;
    /* border-bottom: 1px solid black; */
}

.nav-link:hover {
    color: orangered;
    background-color: rgba(255, 255, 255, 0.9);
}

.cta-btn div {
    /*마이페이지버튼 효과적용*/
    color: #000 !important;
    text-transform: uppercase;
    padding: 10px 20px !important;
    margin-right: 2px;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.cta-btn div:hover {
    background: #fff;
    color: #cf1d16 !important;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.section-content {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: '맑은 고딕', sans-serif; */
}


/* 찜페이지 */

.card-price {
    color: orange;
}

.card-top {
    margin: 0;
    padding-top: 30px;
    width: 100%;
    height: 50%;
}

.card-bottom {
    border-top: 2px solid white;
    width: 100%;
    height: 50%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid;
    overflow: hidden;
}

.card-bottom img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.card-top p {
    z-index: initial;
    text-align: center;
    margin: 0px;
    font-size: 0.8em;
}

.card-top .img-category {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid white;
}

.studyM {
    color: #000;
    font-weight: bolder;
}

.sort {
    text-align: center;
    display: inline-block;
}

.sort:hover {
    color: black;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.study-card {
    cursor: pointer;
    background-color: white;
    margin: 4.1%;
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    height: 300px;
    /* box-shadow: 3px 3px 20px 1px #999; */
}

.study-list h5 {
    padding-top: 3px;
    text-align: center;
}

.shopping-1 {
    text-align: center;
    margin: 2%;
    border-bottom: 1px solid;
}

.myShopping h3 {
    margin-top: 80px;
}

.myShopping {
    margin-top: 20%;
    padding: 50px 0px;
    text-align: center;
}

.myShopping i {
    margin-top: 20%;
    padding: 50px 0px;
    text-align: center;
    border-bottom: 1px solid black;
}

div .img-category {
    position: absolute;
    top: 120px;
    left: 41%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.myName {
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid black;
}


/* myStudy css */

#f_study_div{
	display:none;
} 
.study {
    background-color: rgba(0, 0, 0, 0.2);
}

.study-main-img {
    width: 300px;
    height: 300px;
    position: relative;
    float: left;
}

.study-context {
    position: absolute;
    text-align: left;
    float: left;
    top: 0px;
    left: 300px;
    height: 300px;
    width: 65%;
    padding: 50px;
    margin-left: 50px;
    color: #000;
}

.study-reader-img {
    position: relative;
    left: -75px;
    top: 75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.study-context span {
    padding: 2px;
    margin-left: 10px;
    color: white;
    font-size: 0.7em;
    background-color: orangered;
}

.study-context button {
    float: right;
}

.btn-gotochat {
    padding: 8px;
    font-size: 0.8emx;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 50px 3px;
    position:relative;
    left:-80px;
}

.btn-gotochat:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease 0s;
    border: 1px solid orangered;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}


.myStudy-card {
    cursor: pointer;
    background-color: white;
    margin: 4.1%;
    padding-right: 0px;
    padding-left: 0px;
    height: 300px;
    /* box-shadow: 3px 3px 20px 1px #999; */
}
/* 후기, review */
.review-wrapper{
	position:fixed;
	width:100%;
	height:100%;
	
	background-color:rgba(0,0,0,0.8);
	z-index:9998;
	 display:none;
	
	
}
.myReview{
	width:50%;
	background-color:white;
	position:absolute;
	top:150px;
	left:50%;
	transform:translateX(-50%);
	z-index:9999;
	padding:20px;
	border:1px solid;
	border-radius:10px;
}
.review-top{
	padding:15px;
	border-bottom:1px solid;
}
.review-top h5{
	margin-bottom:0px;
}
.review-close{
	position:relative;
	float:right;
	cursor:pointer;
	top:-50px;
	left:10px;
	font-size:2em;
	transform:rotate(45deg);
}
.review-btn{
	float:right;
	position:relative;
	background-color:#e9e9e9;
	border:1px solid #bdbebd;
	border-radius:5px;
	padding:3px 15px;
    outline:0;
    cursor:pointer;
}
.review-btn:hover{
	color:white;
	background-color:gray;
	
}
.review-contents textarea{
 position: relative;
    width: 100%;
    height: 170px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: #e9e9e9;
    border: none;
    resize: none;
    outline:none;

}
/* pay */

.myPay {
    margin-top: 240px;
    padding-top: 50px;
    text-align: center;
}

.payment {
    margin: 50px;
    padding: 50px;
    background-color: white;
}

.payment table {
    width: 100%;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

.payment tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.payment th {
    background-color: #e9e9e9;
    color: black;
    height: 40px;
    padding: 2px;
    text-align: left;
}

.payment td {
    border-bottom-color: #f2f2f2;
    color: black;
    font-size: 0.8em;
    height: 40px;
    padding: 2px;
}


/* login-form */

.login-form-myInfo {
    margin: 0px auto;
    width: 450px;
    padding: 80px 40px 40px 40px;
    border-radius: 10px;
}

.bottom-text-myInfo {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}


/* 환경설정 */

.setting {
    padding: 80px 0px;
    text-align: center;
}

.setting h5 {
	text-align:center;
	border-radius:5px;
    margin:0px auto;
    margin-bottom:50px;
    padding:10px;
    width:200px;
    background-color:#d8d8d8;
}


.setting-divide {
    /* border-bottom: 1px solid black; */
    /* width: 80%; */
    margin: 0px auto;
}


/* 밑줄 */

.setting-divide:after {
    height: 10px;
    margin: 0px auto;
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid #9faab7;
}

.switchForm {
    width: 80px;
    padding: 5px 10px;
    margin: 14px 40px;
    text-align: right;
}

.check-i {
    width: 50%;
    color: #000;
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: left;
    float: right;
}

.check-i span {
    height: 1px;
    font-size: 0.8em;
    color: rgb(255, 71, 71);
    line-height: 10% !important;
}

.btn-changeSetting {
    font-size: 13px;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 50px;
}

.btn-changeSetting:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease 0s;
    border: 1px solid orangered;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

/*인풋 파일버튼*/

.fileinput {
  height: 0;
  overflow: hidden;
  width: 0;
}

.fileinput + label {
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight:0px;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 25px;
  position: relative;
  top:-5px;
  transition: all 0.3s;
  vertical-align: middle;
}
.fileinput + label.btn-2{
	background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
}
.fileinput + label.btn-2::before {
  color: #fff;
  /*  content: "";*/
  font-family: "Font Awesome 5 Pro";
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
}
.fileinput + label.btn-2:hover {
  background-color: #497f42;
}
.fileinput + label.btn-2:hover::before {
  right: 80%;
}
.changePhoto{
	border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight:0px;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 25px;
  position: relative;
  top:-5px;
  transition: all 0.3s;
  vertical-align: middle;	
  background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
}
.changePhoto:hover{
	background-color: #497f42;
}

/* 나의 메모 */
.newMemo{ 
    background-color:rgb(255, 255, 88); 
    position: absolute; 
    top:100px; 
    left:500px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    margin: 0;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
    opacity: .8;
}
.newMemo .memo_top{
    height: 20px;
    line-height: 30px;
    /* border-bottom: 1px solid #ddd; */
    /* background-color:rgba(160, 159, 159, 0.299); */
    padding: 0 10px;
}
.newMemo .memo_top button {
    border: 0;
    background-color: transparent;
    padding: 4px;
    left:10px;
    float: right;
}
.memo_write {
    position: relative;
    width: 200px;
    height: 170px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    resize: none;
    
    outline-style: none;
    
}
.memo_close{
	font-size: 25px; 
	transform:rotate(45deg);
	
    outline-style: none;
	
}
#memo_area{
	height:800px;
}
.buttonarea{
	padding-top:30px;
}
.make_newMemo{
	left:50%;
	transform:translateX(-50%);
	border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight:0px;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 25px;
  position: relative;
  top:-5px;
  transition: all 0.3s;
  vertical-align: middle;	
  background-color: #ef6c00;
    border-radius: 50px;
    overflow: hidden;
}
.make_newMemo:hover{
	background-color: orangered;
}
