body {
    font-family: "Do Hyeon", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #868e96;
}

.header-background-cover {
	height: 95px;
	background-color: rgba(0, 0, 0, 0.8);
}

section.allhugi {
	
    background-color: #EBEBEB;
    box-sizing: border-box;
    padding-top: 30px;
}

section.allhugi article {
    margin: auto;
    box-sizing: border-box;
    width: 700px;
    background-color: white;
}

.hugiIntro {
    background: transparent url(https://cdn.studysearch.co.kr/static/images/real-reviews/header-background.b2c9f1f57072.png);
    height: 400px;
    position: relative;
}

.hugiIntro > div {
    width: 500px;
    height: 300px;
    position: relative;
    top: 50px;
    background-color: white;
    box-sizing: border-box;
}

.hugiIntro > div img:nth-of-type(1) {
    margin: 50px 0 10px 40px;
   
}

.hugiIntro > div div:nth-of-type(1) {
    margin-left: 40px;
    letter-spacing: 1px;
    font-size: 15px;
}

.hugiIntro > div div:nth-of-type(2) {
    color: black;
    font-size: 50px;
    margin-left: 40px;
}

.hugiIntro > div div:nth-of-type(3) {
    width: 40px;
    background-color: #EBEBEB;
    height: 2px;
    margin-left: 40px;
}

.hugiIntro > div div:nth-of-type(4) {
    color: black;
    font-size: 17px;
    margin-left: 40px;
    margin-top: 20px;
}

.hugiIntro > div img:nth-of-type(2) {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
}

.review {
    background-color: white;
    box-sizing: border-box;
    padding-top: 40px;
}

.review-title {
    margin: 0 0 20px 40px;
    color: black;
    font-size: 30px;
}

.rine {
    margin: auto;
    width: 620px;
    border: 0.5px solid lightgray;
}

.reviewAll {
  position: relative;
    box-sizing: border-box; 
    /* float: right;
    width: 542px;
    padding-bottom: 36px;
    border-bottom: 1px solid #dce0e0; */
}

.reviewAll > img {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 40px;
    left: 40px;
}

.reviewName {
    position: relative;
    font-size: 20px;
    color: black;
    top: 0px;
    left: 140px;
}



.reviewContent {
    position: relative;
    top: 30px;
    box-sizing: border-box;
    left: 140px;
    color: #505050; 
    height:300px; ; 
   
  
}

.reviewText {
    font-size: 18px;
    line-height: 1.4;
    width:500px;
}

.reviewText span {
    display: inline-block;
    width: 16px;
    background-image: url("/img/new.png");
    height: 16px;
}

.reviewTeacherTime {
    position: relative;
    box-sizing: border-box;
    margin-top: 25px;   
    margin-bottom: 50px; 
}

.reviewTime {
    font-size: 19px;
}

.reviewTeacher {
    position: relative;
    font-size: 19px;
    right: -350px;
    top: 0;
    display: flex;
    box-sizing: border-box;
}

.reviewTeacher img {
	
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -10px;
}

.reviewrine {
    width: 470px;
    border: 0.5px solid lightgray;
}
.star {
	position: relative; 
    display: inline-block;
    width: 100px;
    height: 15px;
    left:60px;
    top:0px;
    margin-left: 10px;
   
    background-color: #ef6c00;
    background: url("https://cdn.studysearch.co.kr/static/images/icon_asset_3.340e69ee1287.png");
}
.score{
	position: relative;
	 display: inline-block;
	width: 100px;
   font-size:17px;
    left:175px;
    top:-34px;
}
 /* 사이드바 스타일 */
       #review-level{
        	position:fixed;
        	right:0;
        	box-sizing:border-box;
        	width:15pc;
        	background:#fff;
        	border:1px solid #dcdcdc;
        	box-shadow:0 2px 6px 0 rgba(0,0,0,.1)
        	}
        .review-title{
        	margin: 0 24px;
    		color: #505050;
    		font-size: 18pt;
    		padding: 36px 0 9pt;
    		border-bottom: 2px solid #f2f2f2;
        }
        .level-list{
         	margin: 0;
    		padding: 0;
        }
        
        .level-select{
			display: block;
    		box-sizing: border-box;
    		height: 72px;
    		line-height: 72px;
    		padding-left: 24px;
    		color: #787878;
		}
		.level-select:hover {
    		padding-left: 20px;
    		border-left: 4px solid #ef6c00;
    		background: #f8f8f8;
    		color: #ef6c00;
		}
		.subjectName{
			 
    		color: #ef6c00;
		}
		.titleName{
		 position: relative;
    	font-size: 20px;
    	color: gray;
    	top: -30px;
    	left: 120px;
			
			
		}
		}
